.advantages__description {
  font-size: $title-mobile-font-size;
  font-weight: $bold;
  color: $black;
}

.advantages__item {
  font-size: $text-mobile-font-size;
  line-height: 20px;
  font-weight: $bold;
  color: $black;
}

.advantages__list {
  @include list-reset;
}

.advantages {
  @include container;

  padding-left: 32px;
}

.advantages__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
}

.advantages__item--eco::before {
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
}

.advantages__item--style::before {
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
}

.advantages__item--likes::before {
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
}

.advantages__item--love::before {
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__item--support::before {
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--present::before {
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 330px;
  }

  .advantages__item--love {
    order: 1;
  }

  .advantages__item--style {
    order: 2;
  }

  .advantages__item--support {
    order: 3;
  }

  .advantages__item--likes {
    order: 4;
  }

  .advantages__item--present {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-left: 200px;
    min-width: 1150px;
  }

  .advantages__item {
    min-width: 350px;
    position: relative;
  }

  .advantages__item::before {
    position: absolute;
  }

  .advantages__description {
    padding-top: 47px;
    padding-left: 25px;
    margin: 0;
  }

  .advantages__list {
    padding-top: 39px;
    position: relative;
  }

  .advantages__item--eco::before {
    top: 0;
    left: 34px;
  }

  .advantages__item--style::before {
    top: 58px;
    left: 26px;
  }

  .advantages__item--likes::before {
    top: 61px;
    left: 34px;
  }

  .advantages__item--love::before {
    top: 3px;
    left: 29px;
  }

  .advantages__item--support::before {
    left: 19px;
    top: 59px;
  }

  .advantages__item--present::before {
    top: 57px;
    left: 28px;
  }

  .advantages__title {
    margin: 0;
    font-size: $font-size-name-catalog;
    padding-left: 25px;
  }

  .advantages__title--eco {
    padding-top: 56px;
    width: 220px;
  }

  .advantages__title--style {
    width: 240px;
    padding-top: 113px;
  }

  .advantages__title--likes {
    padding-top: 111px;
    width: 240px;
  }

  .advantages__title--love {
    padding-top: 57px;
    width: 255px;
  }

  .advantages__item--support {
    padding-top: 112px;
  }

  .advantages__title--present {
    padding-top: 110px;
    width: 250px;
  }
}
