.advantages__description {
  margin-top: 31px;
  margin-left: -2px;
}

.advantages__item {
  font-size: $text-mobile-font-size;
  line-height: 20px;
  font-weight: $bold;
  color: $black;
  position: relative;
}

.advantages__list {
  @include list-reset;
}

.advantages {
  @include container;

  padding-left: 32px;
  width: 320px;
}

.advantages__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.advantages__item--eco::before {
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
  top: 8px;
  left: 5px;
}

.advantages__item--style::before {
  top: 13px;
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
}

.advantages__item--likes::before {
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
  top: 18px;
  left: 5px;
}

.advantages__item--love::before {
  width: 35px;
  top: 15px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__item--support::before {
  width: 55px;
  height: 23px;
  left: -7px;
  top: 16px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--present::before {
  width: 33px;
  height: 32px;
  top: 15px;
  background-image: url("../img/icon-feature-gift.svg");
}

.advantages__title {
  padding-top: 61px;
  margin-top: 0;
  width: 185px;
  font-size: $text-mobile-font-size;
}

.advantages__title--style {
  padding-top: 67px;
  width: 200px;
}

.advantages__title--likes {
  padding-top: 66px;
}

.advantages__title--love {
  padding-top: 66px;
  width: 220px;
}

.advantages__title--support {
  padding-top: 65px;
  width: 250px;
}

.advantages__title--present {
  padding-top: 67px;
  width: 200px;
  margin-bottom: 57px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 330px;
  }

  .advantages__item--love {
    order: 1;
  }

  .advantages__item--style {
    order: 2;
  }

  .advantages__item--support {
    order: 3;
  }

  .advantages__item--likes {
    order: 4;
  }

  .advantages__item--present {
    order: 5;
  }

  .advantages {
    width: 768px;
  }

  .advantages__description {
    margin-top: 53px;
  }

  .advantages__title {
    font-size: $font-size-name-catalog;
  }

  .advantages__title--eco {
    width: 220px;
  }

  .advantages__title--style {
    width: 245px;
    margin-top: 23px;
  }

  .advantages__item--style::before {
    top: 37px;
  }

  .advantages__item--likes::before {
    top: 43px;
    left: 9px;
  }

  .advantages__title--support {
    padding-top: 92px;
    padding-left: 4px;
    width: 300px;
  }

  .advantages__item--support::before {
    left: -2px;
    top: 40px;
  }

  .advantages__title--likes {
    width: 240px;
    padding-top: 91px;
  }

  .advantages__item--love::before {
    top: 11px;
    left: 7px;
  }

  .advantages__title--love {
    padding-top: 63px;
    width: 255px;
    padding-left: 3px;
  }

  .advantages__title--present {
    padding-top: 93px;
    padding-left: 4px;
    width: 250px;
  }

  .advantages__item--present::before {
    top: 39px;
    left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-left: 200px;
    width: 1150px;
    padding-top: 21px;
  }

  .advantages__item {
    min-width: 350px;
    position: relative;
  }

  .advantages__description {
    padding-top: 47px;
    padding-left: 25px;
    margin: 0;
  }

  .advantages__list {
    padding-top: 39px;
    position: relative;
  }

  .advantages__item--eco::before {
    top: 0;
    left: 34px;
  }

  .advantages__item--style::before {
    top: 58px;
    left: 26px;
  }

  .advantages__item--likes::before {
    top: 61px;
    left: 34px;
  }

  .advantages__item--love::before {
    top: 3px;
    left: 29px;
  }

  .advantages__item--support::before {
    left: 19px;
    top: 59px;
  }

  .advantages__item--present::before {
    top: 57px;
    left: 28px;
  }

  .advantages__title {
    margin: 0;
    font-size: $font-size-name-catalog;
    padding-left: 25px;
  }

  .advantages__title--eco {
    padding-top: 56px;
    width: 220px;
  }

  .advantages__title--style {
    width: 240px;
    padding-top: 113px;
  }

  .advantages__title--likes {
    padding-top: 111px;
    width: 240px;
  }

  .advantages__title--love {
    padding-top: 57px;
    width: 255px;
  }

  .advantages__item--support {
    padding-top: 20px;
  }

  .advantages__title--present {
    padding-top: 110px;
    width: 250px;
  }
}
