.advantages__description {
  font-size: $title-mobile-font-size;
  font-weight: $bold;
  color: $black;
}

.advantages__item {
  font-size: $text-mobile-font-size;
  line-height: 20px;
  font-weight: $bold;
  color: $black;
}
.advantages__list {
  @include list-reset;
}
