.banner {
  background-image: url("/img/hero-mobile@1x.jpg");
  width: 320px;
  height: 373px;
}

.banner__headline {
  text-align: center;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}
