.button {
  color: $text-black;
  line-height: 20px;
  border: 2px solid $text-black;
  text-transform: uppercase;
  font-weight: $bold;
  background-color: $white;
  width: 260px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .button {
    width: 230px;
  }

  .button__slider {
    width: 175px;
  }
}
