.catalog__text {
  font-size: 13px;
  line-height: $basic-mobile-line-height;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 41px;
  padding-left: 34px;
}

.catalog__write {
  padding-bottom: 11px;
  padding-top: 12px;
  min-height: 52px;
  box-sizing: border-box;
  width: 192px;
  margin-left: 33px;
  padding-left: 20px;
  font-size: 18px;
  padding-right: 19px;
}

.catalog__list {
  @include list-reset;
}


.catalog {
  @include container;
}

.catalog__production {
  position: relative;
}

.catalog__production-before::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 33px;
  width: 32px;
  height: 32px;
  background: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.catalog__player {
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 260px;
  height: 150px;
}

.catalog__button {
  border: none;
}

.catalog__button::before {
  content: "";
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.catalog__player-img {
  position: absolute;
  top: 35px;
  left: 80px;
}

.catalog__production-before {
  margin: 0;
  padding-top: 21.5px;
  padding-bottom: 26.5px;
  padding-left: 91px;
}

.catalog__production-info {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    height: 334px;
  }

  .catalog__player {
    order: -1;
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
  }

  .catalog__production-before {
    order: 0;
  }

  .catalog__text {
    font-size: $basic-mobile-font-size;
    line-height: $text-mobile-line-height;
    padding-top: 25px;
    margin: 0;
    padding-left: 39px;
  }

  .catalog__write {
    padding-left: 207px;
    box-sizing: border-box;
    margin-left: 41px;
    font-size: $text-mobile-font-size;
    padding-right: 207px;
    width: 584px;
    min-height: 52px;
  }

  .catalog {
    width: 768px;
    margin-bottom: 60px;
  }

  .catalog__production-info {
    display: flex;
    flex-direction: column;
  }

  .catalog__production-before::before {
    top: 33px;
    left: 41px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    flex-direction: column;
    width: 1150px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: block;
    width: 316px;
    box-sizing: border-box;
    height: auto;
  }

  .catalog__production {
    display: flex;
  }

  .catalog__production-before {
    padding-left: 0;
  }

  .catalog__text {
    padding-left: 78px;
    padding-top: 29px;
    padding-bottom: 52px;
  }

  .catalog__production-info {
    justify-content: flex-start;
    width: 1048px;
    flex-direction: row;
  }

  .catalog__write {
    padding-left: 29px;
    padding-right: 31px;
    width: 230px;
    margin-left: 79px;
  }

  .catalog__player {
    background-image: url("../img/video-desktop@1x.jpg");
    width: 683px;
  }

  .catalog__player-img {
    top: 190px;
    left: 300px;
  }

  .catalog__production-before::before {
    left: auto;
    right: 200px;
    top: 41px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
  }
}
