.catalog__text {
  font-size: 13px;
  line-height: $basic-mobile-line-height;
}

.catalog__write {
  padding-bottom: 18px;
  padding-left: 11px;
  padding-top: 18px;
  padding-right: 11px;
}

.catalog__list {
  @include list-reset;
}
