.categories__link--items {
  background-color: $light-blue;
}

.categories__link--toys {
  background-color: $dark-blue;
}

.categories__link {
  color: $white;
  font-size: 19px;
  line-height: $basic-mobile-line-height;
  font-weight: $bold;
  padding-top: $basic-mobile-line-height;
  padding-bottom: 31px;
  padding-left: 30px;
  padding-left: 30px;
}

.categories__icon {
  opacity: 50%;
}

.categories__icon--interior {
  margin-left: 84px;
}

.categories__icon--toy {
  margin-left: 73px;
}
