.categories__link {
  display: flex;
  position: relative;

  &--toys {
    background-color: $dark-blue;
  }

  &--items {
    background-color: $light-blue;
  }
}

.categories__text {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 31px;
  color: $white;
  font-size: 19px;
  line-height: $basic-mobile-line-height;
  font-weight: $bold;
  margin: 0;
}

.categories__link::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
}

.categories__link--items::after {
  background-image: url("../img/icon-interior.svg");
  width: 40px;
  height: 62px;
  top: 15px;
  right: 50px;
}

.categories__link--toys::after {
  background-image: url("../img/icon-toy.svg");
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 35px;
}

@media (min-width: $tablet-width) {
  .categories__container {
    display: flex;
    justify-content: center;
    width: 668px;
    margin: 0 auto;
  }

  .categories__link {
    min-width: 334px;
  }

  .categories__text {
    font-size: 20px;
    line-height: $text-mobile-line-height;
  }

  .categories__link--items::after {
    top: 20px;
    right: 30px;
  }

  .categories__link--toys::after {
    top: 20px;
    left: 220px;
  }
}

@media (min-width: $desktop-width) {
  .categories__link {
    min-width: 525px;
  }

  .categories__container {
    width: 1150px;
    padding-top: 242px;
  }

  .categories__link--items::after {
    right: 37px;
    top: 29px;
  }

  .categories__link--toys::after {
    right: 34px;
    top: 32px;
    left: auto;
  }

  .categories__text {
    padding-left: 37px;
  }
}
