.contacts__title {
  color: $black;
  line-height: $text-mobile-line-height;
  font-size: 18px;
  font-weight: $bold;

  @include container;
  padding-top: 39px;
  padding-bottom: 26px;
}

.contacts__text {
  line-height: $text-mobile-line-height;
  color: $text-black;
  text-decoration: solid;
  text-decoration-color: $line-color;

  @include container;
  padding-right: 0;
  padding-left: 0;
}

.contacts__write {
  padding-left: 49px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 18px;
  margin-left: 30px;
}

.visually-hidden {
  @include visually-hidden;
}

.contacts__map--live {
  border: none;
  padding-bottom: 42px;
}

.contacts__map {
  margin-bottom: 8px;
}

.contacts__info {
  margin-bottom: 36px;
}

.contacts__information {
  display: flex;
}

.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__text--email {
  margin: 0;
  margin-left: 28px;
  margin-bottom: 30px;
}

.contacts__text--address {
  margin-left: 27px;
  margin-right: 35px;
}

.contacts__text--address-link {
  width: 148px;
  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: $title-tablet-font-size;
    line-height: $title-tablet-line-height;
  }

  .contacts {
    position: relative;
    width: 768px;
    margin-top: 8px;
  }

  .contacts__text--email {
    padding-right: 24px;
  }

  .contacts__text--email-link {
    padding: 0;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 54px;
    display: block;
    width: 47px;
    height: 80px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .contacts__info {
    display: flex;
    margin-bottom: 51px;
  }

  .contacts__map {
    margin-bottom: 12px;
  }

  .contacts__text {
    margin: 0;
    font-size: $text-mobile-font-size;
    margin-top: 22px;
  }

  .contacts__map--live {
    width: 768px;
    padding-bottom: 55px;
  }

  .contacts__write {
    margin-left: 269px;
    padding-left: 36px;
    padding-right: 42px;
    font-size: $text-mobile-font-size;
  }

  .contacts__text--address {
    padding-right: 0;
  }

  .contacts__text--address-link {
    padding-left: 28px;
    width: 330px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map--live {
    width: 527px;
    background-size: 527px auto;
    min-height: 457px;
    position: absolute;
    right: 50px;
    top: 62px;
  }

  .contacts__info {
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 198px;
    padding-top: 13px;
    padding-bottom: 90px;
    margin-bottom: 0;
  }

  .contacts__information {
    display: flex;
  }

  .contacts__information--email {
    padding-bottom: 8px;
  }

  .contacts__text {
    padding-right: 26px;
    width: auto;
  }

  .contacts__title {
    font-size: $title-desktop-font-size;
    line-height: $title-desktop-line-height;
    padding-left: 224px;
    padding-top: 140px;
    padding-bottom: 0;
  }

  .contacts__title::after {
    top: 122px;
    left: 112px;
  }

  .contacts__text--email {
    padding-left: 25px;
  }

  .contacts__text--address {
    padding-left: 26px;
  }

  .contacts__write {
    margin-left: 224px;
    padding-left: 41px;
    padding-right: 38px;
    padding-bottom: 12px;
    padding-top: 13px;
    font-size: $text-mobile-font-size;
  }

  .contacts {
    width: 1150px;
    padding-left: 0;
  }

  .contacts__text--address-link {
    padding-left: 0;
  }
}
