.copyright__text {
  color: $black;
  font-weight: $bold;
  font-size: 19px;
  line-height: 18px;
  padding-right: 19px;
  padding-left: 49px;
  padding-top: 6px;
}

.copyright__icon {
  padding-top: 15px;
  fill: $light-blue;
  width: 45px;
  height: 42px;
}

.copyright__icon--form {
  padding: 0;
}

.copyright__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  background-color: $gray;
  border-top: 1px solid $border-footer-color;
}

.copyright__link {
  margin-top: 10px;
}

.copyright__icon:hover {
  fill: $link-color;
}

.copyright__icon:active {
  fill: $light-blue;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright__wrapper {
    border-top: none;
    padding-top: 40px;
    padding-right: 41px;
  }

  .copyright__wrapper--another {
    padding-top: 34px;
  }

  .copyright__link {
    margin-top: 12px;
  }

  .copyright__text {
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__wrapper {
    padding-top: 42px;
    padding-bottom: 50px;
  }

  .copyright__wrapper--another {
    padding-top: 38px;
  }

  .copyright__text {
    padding-top: 3px;
  }
}
