.copyright__text {
  color: $black;
  font-weight: $bold;
  font-size: 19px;
  line-height: 18px;
  padding-right: 27px;
  padding-left: 69px;
  padding-top: 6px;
}

.copyright__icon {
  padding-top: 15px;
}

.copyright__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  background-color: $gray;
  border-top: 1px solid $border-footer-color;
}

@media (min-width: $tablet-width) {
  .copyright__wrapper {
    border-top: none;
  }
}
