.form__text {
  font-size: 13px;
  line-height: $basic-mobile-line-height;
  border: none;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 29px;
}

.form__name {
  margin: 0;
}

.form__text--textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $text-mobile-font-size;
  border: 2px solid $black;
  width: 236px;
  margin-top: 18px;
  padding-left: 15px;
  padding-right: 6px;
  min-height: 98px;
  padding-top: 11px;
}

.form__text--name {
  padding: 0;
  padding-bottom: 10px;
  padding-top: 16px;
  margin-bottom: 23px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 2px solid $black;
}

.form__field {
  color: $light-blue;
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: 16px;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
}

.form__field::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 60px;
  width: 200px;
  height: 1px;
  background: $light-blue;
}

.form__label {
  color: $black;
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: 18px;
  min-height: 41px;
}

.form__send {
  padding-left: 46px;
  padding-right: 44px;
  padding-top: 18px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 16px;
}

.form__icon-tel {
  position: absolute;
  top: 30px;
  right: 6px;
  padding-left: 15px;
  opacity: 0.2;
}

.visually-hidden {
  @include visually-hidden;
}

.form__necessarily {
  font-size: 14px;
  line-height: 16px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset--name {
  margin-bottom: 12px;
}

.form__list {
  @include list-reset;
}

.form {
  @include container;
}

.form__label--radio::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid $text-black;
  border-radius: 50%;
  box-sizing: border-box;
}

.form__label--radio::after {
  transform: scale(0);
  transition: transform 0.3s;
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 17px;
  height: 18px;
  background: $light-blue;
  border-radius: 50%;
}

.form__contacts {
  position: relative;
}

.form__contacts--email::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 3px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 31px;
  opacity: 0.2;
}

.form__item {
  position: relative;
  padding-bottom: 19px;
  display: flex;
  padding-left: 62px;
}

.form__item--checkbox {
  padding-bottom: 20px;
}

.form__item--acces {
  padding-bottom: 13px;
}

.form__item--toys {
  padding-top: 7px;
}

.form__field--name {
  padding-bottom: 30px;
}

.form__type {
  display: none;
}

.form__label--checkbox::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 38px;
  height: 39px;
  border: 2px solid $text-black;
  box-sizing: border-box;
}

.form__label--checkbox::after {
  transform: scale(0);
  content: "";
  transition: transform 0.3s;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 21px 16px;
}

.form__type:checked + .form__label--checkbox::after,
.form__type:checked + .form__label--radio::after {
  transform: scale(1);
}

.form__text--name-tel {
  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: 35px;
}

.form__text--name-email {
  padding-bottom: 14px;
}

.form__contacts--add {
  padding-top: 11px;
}

@media (min-width: $tablet-width) {
  .form__text {
    font-size: $text-mobile-font-size;
    line-height: $text-mobile-line-height;
    padding-top: 68px;
    width: 375px;
    margin: 0 auto;
    padding-bottom: 53px;
  }

  .form__fieldset--color {
    background-color: $gray;
    width: 100%;
  }

  .form__icon-tel {
    right: 76px;
  }

  .form__text--main {
    margin-left: 51px;
    width: 83%;
  }

  .form__name {
    display: flex;
    align-items: baseline;
    height: 75px;
  }

  .form__label--radio::after {
    width: 21px;
    height: 21px;
    top: 26px;
    left: 15px;
  }

  .form__label--radio::before {
    top: 11px;
  }

  .form__label--radio::before,
  .form__label--checkbox::before {
    width: 50px;
    height: 51px;
    box-sizing: border-box;
  }

  .form__label--checkbox::before {
    width: 51px;
    height: 52px;
    top: -16px;
  }

  .form__label--checkbox::after {
    width: 32px;
    height: 22px;
    top: 0;
    background-size: 32px 22px;
  }

  .form__fieldset {
    padding: 0;
    width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .form__label {
    font-size: 19px;
  }

  .form__container {
    display: flex;
    padding-bottom: 36px;
  }

  .form__container--color {
    padding-top: 66px;
    width: 768px;
    margin: 0 auto;
    padding-bottom: 11px;
  }

  .form__field::after {
    display: none;
  }

  .form__field {
    padding-right: 133px;
    padding-left: 50px;
    padding-top: 28px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .form__send {
    order: -1;
    margin-left: 50px;
    margin-top: 53px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0;
  }

  .form__end {
    display: flex;
    margin: 0 auto;
    width: 768px;
  }

  .form {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .form__item {
    width: 33%;
    padding-left: 80px;
    padding-bottom: 35px;
  }

  .form__item--acces,
  .form__item--toys {
    width: 100%;
    padding-left: 77px;
    padding-bottom: 8px;
    padding-top: 27px;
  }

  .form__field--color {
    padding-top: 0;
    padding-right: 124px;
  }

  .form__field--name {
    padding-top: 67px;
    padding-right: 124px;
  }

  .form__text--name {
    font-size: $font-size-name-catalog;
    padding-bottom: 10px;
    padding-top: 0;
    margin-left: 24px;
    padding-left: 20px;
    width: 409px;
  }

  .form__text--surname {
    margin-left: 27px;
    padding-left: 15px;
    width: 359px;
  }

  .form__list--name {
    padding-top: 60px;
  }

  .form__text--name-patronymic {
    margin-left: 33px;
    padding-top: 1px;
    padding-left: 16px;
    width: 358px;
  }

  .form__contacts {
    display: flex;
  }

  .form__field--tel {
    padding-top: 35px;
    padding-bottom: 21px;
  }

  .form__field--email {
    width: 100px;
    padding-top: 42px;
    padding-right: 41px;
    padding-bottom: 18px;
  }

  .form__field--add {
    padding-top: 19px;
    padding-right: 0;
  }

  .form__text--name-email {
    padding-top: 35px;
    margin-bottom: 49px;
    font-size: 19px;
    background-color: $gray;
    width: 482px;
    margin-left: 25px;
    padding-left: 20px;
  }

  .form__text--name-tel {
    padding-left: 20px;
    margin: 0;
    width: 482px;
    padding-top: 28px;
    font-size: $text-mobile-font-size;
    background-color: $gray;
  }

  .form__text--textarea {
    width: 501px;
    box-sizing: border-box;
    margin-left: 127px;
    height: 142px;
    padding-top: 8px;
    font-size: 19px;
  }

  .form__container--name {
    padding-bottom: 18px;
  }

  .form__fieldset--name {
    margin-bottom: 0;
  }

  .form__contacts--add {
    background-color: $white;
    padding-top: 51px;
    margin: 0 auto;
  }

  .form__necessarily {
    font-size: $text-mobile-font-size;
    margin: 0;
    padding-top: 70px;
    padding-left: 137px;
  }

  .form__contacts--email::after {
    right: 72px;
    top: 34px;
  }

  .form__fieldset--info {
    padding-top: 30px;
    width: 100%;
  }

  .form__list--tel {
    width: 768px;
    margin: 0 auto;
  }

  .form__list-wrapper {
    background-color: $gray;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 830px;
    height: 149px;
  }

  .form__container--color {
    width: 1150px;
  }

  .form__text {
    width: 702px;
    padding-top: 99px;
    padding-bottom: 62px;
    margin-left: 400px;
  }

  .form__fieldset {
    width: 1150px;
  }

  .form__text--main {
    padding-top: 119px;
    padding-bottom: 52px;
    margin: 0 auto;
  }

  .form__field {
    padding-right: 79px;
    padding-left: 111px;
    padding-top: 30px;
  }

  .form__field--color {
    padding-top: 1px;
    padding-right: 70px;
  }

  .form__item--checkbox {
    width: 22%;
  }

  .form__label--checkbox::before {
    top: -18px;
  }

  .form__field--name {
    padding-top: 70px;
    padding-right: 74px;
  }

  .form__list--name {
    padding-top: 0;
  }

  .form__list--tel {
    width: 1150px;
  }

  .form__text--name {
    margin-top: 62px;
    padding-top: 0;
    margin-left: 21px;
    width: 609px;
    padding-bottom: 10px;
  }

  .form__text--surname {
    margin-left: 24px;
    width: 559px;
  }

  .form__text--name-patronymic {
    margin-left: 31px;
    width: 558px;
  }

  .form__fieldset--name {
    padding-bottom: 62px;
  }

  .form__fieldset--info {
    padding-top: 0;
  }

  .form__field--tel {
    padding-top: 68px;
    padding-right: 57px;
  }

  .form__text--name-tel {
    margin-top: 55px;
    margin-left: 24px;
    width: 681px;
    margin-bottom: 2px;
  }

  .form__field--email {
    padding-top: 39px;
    padding-right: 0;
  }

  .form__text--name-email {
    margin-left: 13px;
    margin-top: 31px;
    width: 681px;
  }

  .form__contacts {
    position: relative;
    width: 1150px;
  }

  .form__icon-tel {
    right: 232px;
    top: 61px;
  }

  .form__contacts--email::after {
    right: 229px;
  }

  .form__field--add {
    padding-top: 19px;
    padding-right: 74px;
  }

  .form__text--textarea {
    margin-left: 0;
    padding-bottom: 39px;
    padding-top: 10px;
  }

  .form__send {
    margin-left: 34px;
    margin-top: 49px;
  }

  .form__necessarily {
    padding-left: 169px;
  }

  .form__fieldset--info,
  .form__fieldset--color {
    width: 100%;
  }
}
