.form__text {
  font-size: 13px;
  line-height: $basic-mobile-line-height;
  border: none;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 29px;
}

.form__text--textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid $black;
  width: 236px;
  margin-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 91px;
}

.form__text--name {
  padding: 0;
  padding-bottom: 10px;
  padding-top: 16px;
  margin-bottom: 23px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 2px solid $black;
}

.form__field {
  color: $light-blue;
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: 16px;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
}

.form__field::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 60px;
  width: 200px;
  height: 1px;
  background: $light-blue;
}

.form__label {
  color: $black;
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: 18px;
}

.form__send {
  padding-left: 46px;
  padding-right: 44px;
  padding-top: 18px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 16px;
}

.form__icon-tel {
  position: absolute;
  top: 30px;
  right: 6px;
  padding-left: 15px;
  opacity: 0.2;
}

.visually-hidden {
  @include visually-hidden;
}

.form__necessarily {
  font-size: 14px;
  line-height: 16px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset--name {
  margin-bottom: 12px;
}

.form__list {
  @include list-reset;
}

.form {
  @include container;
}

.form__label--radio::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 40px;
  height: 42px;
  border: 2px solid $text-black;
  border-radius: 50%;
  box-sizing: border-box;
}

.form__label--radio::after {
  display: none;
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 17px;
  height: 18px;
  background: $light-blue;
  border-radius: 50%;
}

.form__contacts {
  position: relative;
}

.form__contacts--email::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 3px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 31px;
  opacity: 0.2;
}

.form__item {
  position: relative;
  padding-bottom: 41px;
  padding-left: 62px;
}

.form__item--acces {
  padding-bottom: 13px;
}

.form__item--toys {
  padding-top: 7px;
}

.form__field--name {
  padding-bottom: 30px;
}

.form__type {
  display: none;
}

.form__label--checkbox::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 38px;
  height: 39px;
  border: 2px solid $text-black;
  box-sizing: border-box;
}

.form__label--checkbox::after {
  display: none;
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 21px 16px;
}

.form__type:checked + .form__label--checkbox::after,
.form__type:checked + .form__label--radio::after {
  display: block;
}

.form__text--name-tel {
  padding-top: 15px;
  padding-bottom: 14px;
  margin-bottom: 35px;
}

.form__text--name-email {
  padding-bottom: 14px;
}

.form__contacts--add {
  padding-top: 11px;
}

@media (min-width: $tablet-width) {
  .form__text {
    font-size: $text-mobile-font-size;
    line-height: $text-mobile-line-height;
    padding-top: 54px;
    width: 668px;
    margin: 0 auto;
    padding-bottom: 53px;
  }

  .form__label--radio::after {
    width: 23px;
    height: 23px;
    top: 11px;
    left: 15px;
  }

  .form__label--radio::before,
  .form__label--checkbox::before {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
  }

  .form__label--checkbox::after {
    width: 32px;
    height: 22px;
    top: 5px;
    background-size: 32px 22px;
  }

  .form__fieldset {
    padding: 0;
  }

  .form__label {
    font-size: 19px;
  }

  .form__container {
    display: flex;
  }

  .form__container--color {
    background-color: $gray;
    padding-top: 66px;
    padding-bottom: 50px;
  }

  .form__field::after {
    display: none;
  }

  .form__field {
    padding-right: 100px;
    padding-left: 50px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .form__send {
    order: -1;
  }

  .form__end {
    display: flex;
  }

  .form {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .form__item {
    width: 39%;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 500px;
  }

  .form__text {
    width: 702px;
    padding-top: 99px;
    padding-bottom: 62px;
    margin-left: 400px;
  }
}
