.item__name {
  color: $black;
  font-size: $text-mobile-font-size;
  line-height: $basic-mobile-line-height;
  font-weight: $bold;
  margin-top: 25px;
  margin-left: 27px;
  margin-bottom: 0;

  &--big-basket {
    width: 200px;
  }
}

.item__parameters {
  font-size: 13px;
  line-height: $text-mobile-line-height;
  margin-top: 5px;
  margin-left: 27px;
  margin-bottom: 18px;
}

.item__price {
  font-weight: $bold;
  color: $black;
  line-height: $basic-mobile-line-height;
  font-size: $basic-mobile-font-size;
  margin: 0;
  margin-left: 26px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.item__link {
  color: $black;
}

.item__icon {
  opacity: 0.2;
  position: absolute;
  right: 26px;
  top: 22px;
}

.item__icon:hover {
  fill: $light-blue;
  opacity: 1;
}

.item__icon:active {
  opacity: 0.3;
}

.item__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $border-color;
  position: relative;
}

.item {
  border: 1px solid $border-color;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 258px;
}

.item__name--production {
  margin: 0;
  order: -1;
}

.item__production {
  margin-bottom: 57px;
  padding-bottom: 47px;
}

.item:hover .item__wrapper,
.item:active .item__wrapper {
  box-shadow: 0 5px 5px rgba(122, 122, 122, 0.2);
}

.item__link:hover {
  opacity: 0.6;
}

.item__link:active {
  opacity: 0.3;
}

.item__button {
  border: none;
  background-color: $white;
  outline: none;
}

@media (min-width: $tablet-width) {
  .item__name {
    font-size: $font-size-name-catalog;
    margin: 0;
    padding-right: 39px;
    padding-top: 27px;
  }

  .item__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 34px;
  }

  .item__parameters {
    font-size: $basic-mobile-font-size;
    margin: 0;

    &--toy {
      padding-top: 6.5px;
      padding-bottom: 172.5px;
    }

    &--basket {
      padding-top: 9.5px;
      padding-bottom: 169.5px;
    }

    &--big-basket {
      padding-top: 7.5px;
      padding-bottom: 148.5px;
    }
  }

  .item__price {
    font-size: $text-mobile-font-size;
    padding-bottom: 25px;
    margin-left: -2px;
  }

  .item {
    margin-bottom: 52px;
    width: auto;
  }

  .item__picture {
    width: 334px;
    height: 334px;
  }

  .item--toy {
    margin-top: 79px;
  }

  .item__icon {
    right: 2px;
  }

  .item__icon--basket {
    right: -16px;
  }

  .item__icon--big-basket {
    right: -27px;
  }

  .item__name--production {
    padding-top: 40px;
    padding-left: 106px;
    padding-bottom: 0;
    position: relative;
  }

  .item__production {
    padding-bottom: 61px;
  }
}

@media (min-width: $desktop-width) {
  .item {
    margin: 0;
    box-sizing: border-box;
    width: 316px;
  }

  .item__wrapper {
    padding-left: 28px;
    padding-right: 30px;
  }

  .item__parameters {
    &--toy {
      padding-top: 6.5px;
      padding-bottom: 35.5px;
    }

    &--basket {
      padding-top: 6.5px;
      padding-bottom: 35.5px;
    }

    &--big-basket {
      padding-top: 7.5px;
      padding-bottom: 11.5px;
    }
  }

  .item__production {
    margin-top: 56px;
    padding-bottom: 0;
  }

  .item__picture {
    width: 316px;
    height: 462px;
  }

  .item--toy {
    margin-right: 49px;
  }

  .item--basket {
    margin-right: 53px;
  }

  .item__name {
    padding-top: 21px;
    padding-right: 0;
  }

  .item__icon {
    right: 0;
  }

  .item__container {
    height: 73px;
  }

  .item__name--production {
    padding-top: 96px;
    padding-left: 78px;
  }
}
