.main-nav {
  position: relative;
  width: auto;
  min-height: 79px;
}

.main-nav__link--first {
  border-top: 1px solid $border-color;
}

.main-nav__link--order {
  padding-left: 47px;
}

.main-nav--closed {
  display: none;
}

.main-nav__link {
  color: $black;
  display: flex;
  justify-content: flex-start;
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: $basic-mobile-line-height;
  padding-left: 48px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid $border-color;
}

.main-nav__item--tablet {
  display: none;
}

.main-nav__item--new {
  display: none;
}

.main-nav__item--sale {
  display: none;
}

.main-nav__item--logo {
  padding-left: 87px;
  padding-top: 21px;
  padding-bottom: 17px;
}

.main-nav__list {
  font-size: $text-mobile-font-size;
  line-height: $basic-mobile-line-height;
  font-weight: $bold;

  @include list-reset;
}

.main-nav__icon {
  opacity: 0.2;
  padding-right: 25px;
  fill: $fill-color;
}

.main-nav__link--icon:hover .main-nav__icon {
  fill: $light-blue;
  opacity: 1;
}

.main-nav__link--icon:active .main-nav__icon {
  fill: $light-blue;
  opacity: 0.3;
}

.main-nav__link--icon {
  padding-left: 3px;
  padding-bottom: 26px;
  padding-top: 25px;
}

.main-nav__link--catalog {
  border-top: 1px solid $border-color;
}

.main-nav__item a:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__text {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0 auto;
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__list--product {
    order: 1;
  }

  .main-nav__link--first {
    border-top: none;
  }

  .main-nav--closed {
    display: block;
  }

  .main-nav__item--tablet .main-nav__link--tablet {
    color: $text-black;
    font-weight: $normal;
    font-size: $basic-mobile-font-size;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: $basic-mobile-font-size;
  }

  .main-nav__item--search {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  .main-nav__item--tablet {
    display: block;
    order: 3;
    padding-right: 30px;
  }

  .main-nav .main-nav__link {
    border-bottom: none;
    padding-left: 50px;
  }

  .main-nav .main-nav__link--catalog {
    border: none;
  }

  .main-nav__text {
    display: none;
  }

  .main-nav__link--icon {
    padding-left: 33px;
    padding-right: 31px;
  }

  .main-nav__item--logo {
    display: block;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 100px;
  }

  .main-nav__item--new {
    display: none;
  }

  .main-nav__item--sale {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1150px;
  }

  .main-nav__item--new {
    display: block;
    order: 4;
  }

  .main-nav__item--sale {
    display: block;
    margin-right: auto;
    order: 5;
  }

  .main-nav__item--catalog {
    order: -1;
    border-right: 1px solid $border-color;
    padding-right: 30px;
  }

  .main-nav__item--order {
    order: 0;
  }

  .main-nav__item--logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 0;
    order: 1;
  }

  .main-nav__item--search {
    order: 2;
  }

  .main-nav__item--basket {
    order: 3;
  }

  .main-nav__item--tablet {
    order: 6;
  }

  .main-nav .main-nav__link {
    padding-left: 50px;
  }

  .main-nav .main-nav__link--order {
    padding-left: 0;
  }
}
