.main-nav__link {
  color: $black;
}

.main-nav__list {
  font-size: $text-mobile-font-size;
  line-height: $basic-mobile-line-height;
  font-weight: $bold;
  @include list-reset;
}

.main-nav__icon {
  opacity: 20%;
}
