.modal__name {
  font-weight: $bold;
  font-size: $title-mobile-font-size;
  line-height: $text-mobile-line-height;
  color: $black;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 14px;
}

.modal__text {
  line-height: $text-mobile-line-height;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.modal__label {
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: 16px;
  border: 2px solid $border-color;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
}

.modal__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  position: relative;
  width: 260px;
  padding-left: 30px;
  padding-top: 18px;
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0 auto;
}

.modal__button {
  width: 260px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: $text-mobile-font-size;
  color: $white;
  background-color: $light-blue;
  border: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.modal__type {
  display: none;
}

.modal__label:hover {
  border-color: $line-color;
}

.modal__label:active {
  border-color: $text-black;
}

.modal__item {
  width: 82px;
  height: 52px;
}

.modal {
  width: 320px;
  box-sizing: border-box;
  height: 336px;
  border-top: 1px solid $border-color;
  box-shadow: 5px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: $white;
  display: none;
}

.modal--show {
  display: block;
}
