.page-footer__wrapper {
  background-color: $gray;
  margin-top: 39px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 57px;
    min-width: 768px;
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    min-width: 1150px;
  }

  .page-footer__logo {
    margin-left: 30px;
    margin-top: 33px;
  }
}
