.page-main__headline {
  background-color: $gray;
  margin: 0;
  text-align: center;

  &--catalog {
    padding-left: 41px;
    padding-right: 42px;
    padding-top: 73px;
    padding-bottom: 73px;
  }

  &--order {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 73px;
    padding-top: 73px;
  }
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $background-gray;
  }

  .page-main__wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    min-width: 768px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
  }

  .page-main__headline--catalog {
    min-width: 768px;
    text-align: center;
    padding-left: 0;
  }

  .page-main__headline--catalog::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    min-width: 768px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
  }

  .page-main__headline--order {
    min-width: 768px;
    position: relative;
  }

  .page-main__headline--order::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    min-width: 768px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper::after {
    min-width: 100%;
  }

  .page-main__headline--catalog {
    min-width: 1150px;
    margin-bottom: 111px;
  }

  .page-main__headline--order {
    min-width: 1150px;
  }
}
