.slider__title {
  font-size: $title-mobile-font-size;
  color: $black;
  font-weight: $bold;
  line-height: $text-mobile-line-height;
  margin-bottom: 17px;
}

.slider__text {
  line-height: $text-mobile-line-height;
  margin-bottom: 35px;
}

.slider__author-name {
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: $basic-mobile-line-height;
  color: $black;
  font-style: normal;
}

.slider__write {
  font-size: 18px;
  padding-left: 78px;
  padding-right: 77px;
  padding-top: 14px;
  padding-bottom: 9px;
}

.slider__item {
  margin: 0;
}

.slider__author-pseudonym {
  margin-top: 8px;
  font-size: $text-mobile-font-size;
}

.slider__toggle {
  width: 50px;
  height: 26px;
  border: 1px solid $border-color;
  background-color: $white;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  bottom: 70px;
  background-image: url("../img/icon-left-arrow.svg");
  left: 38px;
  padding: 10px;
}

.slider__toggle:hover {
  opacity: 0.6;
}

.slider__toggle:active {
  opacity: 0.3;
}

.slider__toggle--next {
  background-image: url("../img/icon-right-arrow.svg");
  left: auto;
  right: 42px;
}

.slider__list {
  margin-bottom: 139px;
}

.slider__toggle-wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .slider__list {
    order: 2;
  }

  .slider__toggle-wrapper {
    position: static;
  }

  .slider__toggle {
    order: 3;
    border: none;
    bottom: 169px;
    right: 107px;
    left: auto;
  }

  .slider__toggle--next {
    right: 19px;
  }

  .slider__title {
    margin-top: 84px;
    margin-bottom: 24px;
  }

  .slider__text {
    font-size: $text-mobile-font-size;
    margin-bottom: 60px;
  }

  .slider__author-name {
    font-size: 18px;
  }

  .slider__write {
    order: 1;
    padding-left: 26px;
    padding-right: 26px;
    height: 20px;
    margin-top: 80px;
    box-sizing: border-box;
    min-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .slider__title {
    margin: 0;
    padding-top: 77px;
    padding-bottom: 36px;
  }

  .slider__author-pseudonym {
    margin: 0;
    font-size: $text-mobile-font-size;
    padding-top: 5px;
  }

  .slider__author-name {
    font-size: $text-mobile-font-size;
  }

  .slider__text {
    margin: 0;
    font-size: $text-mobile-font-size;
    padding-bottom: 45px;
  }

  .slider__toggle {
    bottom: 149px;
  }

  .slider__write {
    padding-left: 34px;
    padding-right: 36px;
    height: 17px;
    margin-top: 77px;
    font-size: $text-mobile-font-size;
  }
}
