.slider__title {
  font-size: $title-mobile-font-size;
  color: $black;
  font-weight: $bold;
  line-height: $text-mobile-line-height;
}

.slider__text {
  line-height: $text-mobile-line-height;
}

.slider__author-name {
  font-weight: $bold;
  font-size: $text-mobile-font-size;
  line-height: $basic-mobile-line-height;
  color: $black;
  font-style: normal;
}

.slider__write {
  font-size: 18px;
  padding-left: 66px;
  padding-right: 65px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.slider__item {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .slider__write {
    order: 1;
    padding-left: 26px;
    padding-right: 26px;
    height: 20px;
    margin-top: 50px;
  }

  .slider__list {
    order: 2;
  }

  .slider__toggle {
    order: 3;
    border: none;
  }

  .slider__toggle::before {
    content: "";
    display: block;
    width: 50px;
    height: 26px;
    position: absolute;
    bottom: 66px;
  }

  .slider__toggle--prev::before {
    background-image: url("../img/icon-left-arrow.svg");
    right: 85px;
  }

  .slider__toggle--next::before {
    background-image: url("../img/icon-right-arrow.svg");
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .slider__title {
    margin: 0;
    padding-top: 77px;
    padding-bottom: 36px;
  }

  .slider__author-pseudonym {
    margin: 0;
    font-size: $text-mobile-font-size;
    padding-top: 5px;
  }

  .slider__text {
    margin: 0;
    font-size: $text-mobile-font-size;
    padding-bottom: 45px;
  }

  .slider__toggle::before {
    bottom: 32px;
  }

  .slider__toggle--prev::before {
    right: 107px;
  }

  .slider__toggle--next::before {
    right: 19px;
  }

  .slider__write {
    padding-left: 34px;
    padding-right: 36px;
    height: 17px;
    margin-top: 77px;
  }
}
