.social {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 144px;
  margin-left: 69px;
  padding-top: 29px;
  padding-bottom: 23px;
}

.social__icon:hover {
  fill: $line-color;
}

.social__icon:active {
  fill: $line-color;
  opacity: 0.3;
}

.social__item:not(:last-child) {
  margin-right: 39px;
}

@media (min-width: $tablet-width) {
  .social {
    padding-top: 62px;
    padding-bottom: 52px;
    width: 141px;
    margin-left: 4px;
  }

  .social--another {
    padding-top: 55px;
    padding-bottom: 57px;
  }

  .social--catalog {
    padding-top: 56px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-left: 96px;
    padding-top: 61px;
    padding-bottom: 0;
    width: 139px;
  }

  .social--catalog {
    margin-left: 17px;
  }

  .social--another {
    margin-left: 19px;
    padding-top: 58px;
  }
}
