.social {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 144px;
  margin-left: 89px;
  padding-top: 27px;
  padding-bottom: 29px;
}

.social__link::before {
  content: "";
  display: block;
  background-color: $gray;
  background-repeat: no-repeat;
}

.social__link--instagram::before {
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
}

.social__link--facebook::before {
  width: 15px;
  height: 28px;
  background-image: url("../img/icon-fb.svg");
}

.social__link--twitter::before {
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-twitter.svg");
}
