$white: #FFFFFF;
$black: #000000;
$light-blue: #63D1BB;
$dark-blue: #56C3B2;
$text-black: #444444;
$gray: #F1F1F1;
$line-color: #62D1BA;
$basic-mobile-font-size: 15px;
$basic-mobile-line-height: 24px;
$text-mobile-line-height: 30px;
$bold: 700;
$normal: 400;
$text-mobile-font-size: 17px;
$title-mobile-font-size: 25px;
$headline-mobile-font-size: 27px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
