$white: #ffffff;
$black: #000000;
$light-blue: #63d1bb;
$dark-blue: #56c3b2;
$text-black: #444444;
$gray: #f1f1f1;
$background-gray: #f8f8f8;
$line-color: #62d1ba;
$border-color: #ececec;
$border-footer-color: #e5e5e5;
$fill-color: #231f20;
$basic-mobile-font-size: 15px;
$basic-mobile-line-height: 24px;
$text-mobile-line-height: 30px;
$bold: 700;
$normal: 400;
$text-mobile-font-size: 17px;
$title-mobile-font-size: 25px;
$headline-mobile-font-size: 27px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
$font-size-name-catalog: 20px;
$title-tablet-font-size: 43px;
$title-tablet-line-height: 50px;
$title-desktop-font-size: 53px;
$title-desktop-line-height: 57px;
$resolution: 2dppx;
